$color-blue: #008BCE;

body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    .display-text {
        width: 100%;
        text-align: center;
        margin: 10rem auto;
    }
    .mailform-container {
        width: 60vw;
        input {
            width: 100%;
        }
        textarea {
            width: 100%;
        }
        button.submit {
            width: 100%;
        }
        .sample {
            border: 1px solid #888888;
            border-radius: 5px;
            background-color: transparent;
        }
    }
}

